body {
    font-family: 'Arial', sans-serif;
    background: url('../img/background_login.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}
.login-container, .register-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.login-container h1, .register-container h1 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #3b3b3b;
}

.login-container h2, .register-container h2 {
    margin-bottom: 30px;
    font-size: 20px;
    color: #555;
}

form {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #163E5A;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #36556A;
}


.register-link, .login-link {
    margin-top: 20px;
    display: block;
    color: #163E5A;
    text-decoration: none;
    font-size: 16px;
}

.register-link:hover, .login-link:hover {
    color: #36556A;
    text-decoration: underline;
}
