.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.categorias {
  display: grid;
  align-items: start;
  align-content: start;
  width: 300px;
  gap: 1rem;
  background: var(--cor-secundaria);
  padding: 1rem 0 1rem 3rem;
}

.categorias li {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  padding: 2px 0;
  border-bottom: 2px solid transparent;
  justify-self: start;
}

.categorias li:hover {
  border-bottom-color: #fff;
}

.btnLivros.ativo,
.btnEditoras.ativo,
.btnAutores.ativo,
.btnEmprestimos.ativo,
.btnMultas.ativo {
  border-bottom-color: #fff;
}

.livros,
.autores,
.editoras,
.emprestimos,
.multas {
  display: none;
  padding: 2rem;
  gap: 1rem;
  align-items: start;
  align-content: start;
}

.livros.ativo,
.autores.ativo,
.editoras.ativo,
.emprestimos.ativo,
.multas.ativo {
  display: grid;
}

.total {
  background: #75a4c667;
  padding: 1rem;
  border-radius: 16px;
  align-self: start;
}

.total p {
  color: var(--cor-primaria);
  font-size: 2rem;
}

.btnListarLivros,
.btnListarAutores,
.btnListarEditoras {
  max-width: max-content;
  background: var(--cor-secundaria);
  color: #fff;
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.btnListarLivros:hover,
.btnListarAutores:hover,
.btnListarEditoras:hover {
  box-shadow: 0 0 4px #000;
  border: 2px solid var(--cor-secundaria);
}

.nomeLivros,
.nomeAutores,
.nomeEditoras {
  display: none;
  gap: 1rem;
}

.nomeLivros.ativo,
.nomeAutores.ativo,
.nomeEditoras.ativo {
  display: grid;
}

.nomeLivros p,
.nomeAutores p,
.nomeEditoras p {
  background: #75a4c667;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  align-self: start;
  color: var(--cor-primaria);
  font-size: 1.2rem;
}

.todosEmprestimos,
.todasMultas {
  display: grid;
  gap: 1rem;
}

.emprestimoContent,
.multasContent {
  background: #75a4c667;
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  align-self: start;
  color: var(--cor-primaria);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.multasContent {
  background: #ff5a56;
}

.multasContent.inativa {
  background: #75a4c667;
}

.emprestimoContent.validade {
  background: #ff5a56;
}

.emprestimoContent.devolucao {
  background: #87f955;
}

.emprestimoLivro,
.emprestimoData,
.multasDados,
.multasValor {
  display: grid;
  gap: 0.5rem;
  align-self: start;
}

.btnDevolver,
.btnMultar {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  background: var(--cor-secundaria);
  color: #fff;
  border-radius: 8px;
  justify-self: end;
  border: 2px solid transparent;
}

.btnDevolver:hover,
.btnMultar:hover {
  box-shadow: 0 0 4px #000;
  border: 2px solid var(--cor-secundaria);
}

.multar_informacoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.multar_informacoes ul,
.multas_ativa_inativa {
  display: grid;
  gap: 0.5rem;
}

.multas_ativa_inativa {
  padding: 1rem 0;
}

.multar_informacoes li,
.multas_ativa_inativa li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.dentro_validade::before,
.fora_validade::before,
.devolvido::before,
.multa_ativa::before,
.multa_inativa::before {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
}

.dentro_validade::before,
.multa_inativa::before {
  content: '';
  background: #75a4c667;
}

.fora_validade::before,
.multa_ativa::before {
  content: '';
  background: #ff5a56;
}

.devolvido::before {
  content: '';
  background: #87f955;
}

.multasValor {
  align-self: end;
}
