body{
  background-color: linen;
  font-family: sans-serif;
  color: black;
}

.conteudo h1 {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.conteudo p {
  margin: 0 auto;
  padding: 3px;
  text-align: justify;
  text-indent: 50px;
}
