<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static './css/index.css' %}">
  {% block head %} {% endblock head %}
</head>

<body>
  <header>

    <nav class="nav-bar">
      <img src="{% static './img/logo.webp' %}" alt="">
      <div class="menu">
        {% if idUser %}
        <a href="{% url 'catalogo' %}">Catálogo</a>
        <a href="{% url 'perfil' %}">Perfil</a>
        <a href="{% url 'historico' %}">Historico</a>
        {% csrf_token %}
        <a href="{% url 'sair' %}">Sair</a>
        {% elif userADM %}
        <a href="{% url 'catalogo' %}">Catálogo</a>
        <a href="{% url 'acoes' %}">Ações</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'perfil' %}">Perfil</a>
        {% csrf_token %}
        <a href="{% url 'sair' %}">Sair</a>
        {% endif %}
      </div>
    </nav>
  </header>

  <main>{% block content %} {% endblock content %}</main>

  <footer>
    <p>impactaoficial_</p>
    <p class="direitosReservados">2024 © Todos os direitos reservados</p>
    <div class="redes">
      <p>Faculdade Impacta</p>
      <p>bibliotech_support@gmail.com</p>
      <p>FAQ</p>
    </div>
  </footer>

  {% block js %}
  <script src="{% static './js/base.js' %}"></script>
  {% endblock js %}
</body>

</html>