
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/index.css' %}">
    {% block head %} {% endblock head %}
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a href="#">Logo</a
        >
        <div class="menu">
          <a href="#">Catálogo</a
          >
          <a href="#">Contato</a
          >
          <a href="#">Perfil</a
          >
        </div>
      </div>
    </header>

    <main>{% block content %} {% endblock content %}</main>

    <footer>
      <div class="redes">
        <p>impactaoficial_</p>
        <p">Faculdade Impacta</p>
        <p">
          bibliotech_support@gmail.com
        </p>
        <p">FAQ</p>
      </div>
      <center>
        <p>2024 © Todos os direitos reservados</p>
      </center>
    </footer>
  </body>
</html>
