{% extends 'base.html' %} 

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static './css/catalogo.css' %}">
{% endblock %}

{% block content %}
<div class="cabecalho">
    <div class="title">
        <h3>
            Catálogo
        </h3>
    </div>
    <div class="pesquisa">
        <input type="text" placeholder="Escreva aqui">
    </div>
  </div>
  <div class="livros">
    {% for livro in livros %}
    <div class="card">
        <p hidden>{{ livro.0 }}</p>
        <h4>{{ livro.1 }}</h5>
        <p>{{ livro.4}}</p>
        <div class="avaliar">
            <h6>Avaliações</h6>
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5" title="5 estrelas">&#9733;</label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4" title="4 estrelas">&#9733;</label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3" title="3 estrelas">&#9733;</label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2" title="2 estrelas">&#9733;</label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1" title="1 estrela">&#9733;</label>
            </div>
        </div>
        <br>
        <button class="btn-reservar">RESERVAR</button>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
