{% extends 'base.html' %}

{% block head %}
{% load static %}
<title>Bibliotech | Catálogo</title>
<link rel="stylesheet" href="{% static './css/catalogo.css' %}">
{% endblock %}

{% block content %}
<div class="containerHome">
    <section class="cabecalho">
        <div class="title">
            <h3>
                Catálogo
            </h3>
        </div>

        <div class="pesquisa">
            <input type="text" placeholder="Titulo do livro...">
        </div>
        <form id="select-form" method="POST">
            {% csrf_token %}
            <select id="select-categoria" name="select-categoria">
                <option value="todas" selected>Todas</option>
                {% for categoria in categorias %}
                <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
        </form>
        <p>{{categoria}}</p>
    </section>

    <section class="livros" id="livros">
        {% if messages %}
        <p hidden class="message"> {{message}} </p>
        <script>
            const message = document.querySelector(".message")
            document.addEventListener('DOMContentLoaded', function() {
                {% for message in messages %}
                    alert("{{ message|escapejs }}");
                {% endfor %}
            });
        </script>
        {% endif %}
        {% for livro in livros %}
        <div class="card">
            <p hidden>{{ livro.0 }}</p>
            <div class="livro_autor">
                <h5>{{ livro.2 }}</h5>
                <h4 class="titulo_livro">{{ livro.1 }}</h4>
                <p>{{ livro.4}}</p>
            </div>
            <div class="avaliar">
                <h5>Avaliações</h5>
                <div class="rating">
                    <input type="radio" id="star5_{{ forloop.counter0 }}" name="rating_{{ forloop.counter0 }}" value="5">
                    <label for="star5_{{ forloop.counter0 }}" title="5 estrelas">&#9733;</label>
                    <input type="radio" id="star4_{{ forloop.counter0 }}" name="rating_{{ forloop.counter0 }}" value="4">
                    <label for="star4_{{ forloop.counter0 }}" title="4 estrelas">&#9733;</label>
                    <input type="radio" id="star3_{{ forloop.counter0 }}" name="rating_{{ forloop.counter0 }}" value="3">
                    <label for="star3_{{ forloop.counter0 }}" title="3 estrelas">&#9733;</label>
                    <input type="radio" id="star2_{{ forloop.counter0 }}" name="rating_{{ forloop.counter0 }}" value="2">
                    <label for="star2_{{ forloop.counter0 }}" title="2 estrelas">&#9733;</label>
                    <input type="radio" id="star1_{{ forloop.counter0 }}" name="rating_{{ forloop.counter0 }}" value="1">
                    <label for="star1_{{ forloop.counter0 }}" title="1 estrela">&#9733;</label>
                </div>
            </div>
            <form action="{% url 'reservar' livro.0 %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-reservar">RESERVAR</button>
            </form>
            <p>{{index}}</p>
        </div>
        {% endfor %}
    </section>
    {% endblock content %}
</div>

{% block js %}
<script src="{% static './js/catalogo.js' %}"></script>
{% endblock js %}